body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hwb(0 15% 82% / 0.541);

}



#calculator{
    background-color:#D9D9D9 ;
    border-radius: 30px;
    max-width: 500px;;
    overflow: hidden;
}

button{
    width:100px;
    height: 100px;
    border-radius: 50px;
    border:none;
    background-color:hwb(0 15% 82%);
    color:white;
    font-size: 30px;
    font-weight:400;
    cursor: pointer;
}
#display{
    width: 100%;
    height: 100px;
    padding:20px;
    font-size: 20px;
    border:none;
    background-color:#D9D9D9 ;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding:25px;
}

